.filter-panel-wrapper {
    transition: all 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    display: none;
  }
  
  .filter-panel-wrapper.show {
    display: block;
    max-height:fit-content;
    opacity: 1;
  }

  .toggleFilter{

    width: 12%;
    justify-content: space-evenly

  }

  .petListCanvas.hide{
    display: block;
  }

  .petListCanvas.hide{
    display: none;
  }