.thumbnailContainer{
    
    max-height: 900px;
}

.thumbnailInner{
    max-height: 900px;
}


.thumbnailInner > img{
/*     max-height: 800px;
 */
    width: 100%;
}

.thumbDescTable{
    border: none;
    color: white;
}


.thumbNailCaption, .thumbNailCaption tr, .thumbNailCaption td{
    background-color: rgba(59, 59, 59, 0.8);
}


@media screen and (max-width: 992px) {


    .thumbnailContainer{
    
        max-height: 600px;
    }
    
    .thumbnailInner{
        max-height: 600px;
    }

    .thumbnailInner > img{
    }
    


}